# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.istudybucket.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Kanye\RiderProjects\istudybucket\.idea\.idea.istudybucket\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
